body {
  background-color: var(--light-blue);
  padding: 120px 0 0;
  font-family: 'Josefin Sans', sans-serif;
}

/* OWNER PORTAL */
#sign-in-portal .container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 3rem;
}

#sign-in-portal h1 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
  color: #333;
}

#sign-in-form {
  display: flex;
  flex-direction: column;
}

#sign-in-form label {
  font-size: 16px;
  margin-bottom: 5px;
  color: #333;
}

#sign-in-form input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

#sign-in-form input:focus {
  border-color: #007bff;
  outline: none;
}

.sign-in-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sign-in-button:hover {
  background-color: #0056b3;
}

/* FAQ Search Bar */
.faq-search {
  text-align: center;
  margin-bottom: 20px;
}

.keyword {
  text-align: center;
  color: gray;
}

.faq-search input {
  padding: 10px;
  width: 80%;
  max-width: 400px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.faq-search input:focus {
  border-color: #007bff;
  outline: none;
}

/* OWNER RESOURCES */
#owner-resources .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

#owner-resources h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
  color: #333;
}

#owner-resources p {
  text-align: center;
  font-size: 18px;
  margin-bottom: 40px;
  color: #666;
}

.resources-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.resource-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 45%;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.resource-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.resource-item h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.resource-item p {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.resource-link {
  display: inline-block;
  font-size: 16px;
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.resource-link:hover {
  color: #0056b3;
}

@media (max-width: 768px) {
  .resource-item {
    width: 100%;
  }
}

/* FAQs */
#owner-faqs {
}

#owner-faqs .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

#owner-faqs h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
  color: #333;
}

#owner-faqs p {
  text-align: center;
  font-size: 18px;
  margin-bottom: 40px;
  color: #666;
}

.faq-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.faq-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.faq-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.faq-item h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.faq-item p {
  font-size: 16px;
  color: #666;
}
